.home {
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white for better visibility */
 
}

.ftco-section {
  padding: 2em 0px !important;
}


@media only screen and (min-width: 400px) {
 .ftco-section {
  padding: 6em 0px 0px 0px !important;
}

}

.hero .hero-image{
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

.hero-image {
  max-width: 100%; /* Ensure the image does not exceed its container */
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.hero-image:hover {
  transform: scale(1.1); /* Scale the image on hover */
}


.ftco-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
}